.arrowDefault {
  width: 18px;
  height: 18px;
  mask: url("../../../assets/img/icon-arrow.svg") no-repeat center;
  -webkit-mask: url("../../../assets/img/icon-arrow.svg") no-repeat center;
  background-color: hsl(231, 69%, 60%); 
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: rotate(0deg);
}

.arrowActive {
  width: 18px;
  height: 18px;
  mask: url("../../../assets/img/icon-arrow.svg") no-repeat center;
  -webkit-mask: url("../../../assets/img/icon-arrow.svg") no-repeat center;
  background-color: hsl(0, 94%, 66%); 
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: rotate(180deg);
}
