.section {
  padding: 3rem 1.5rem;
  text-align: center;
}

.textBlock {
  max-width: 500px;
  margin: 0 auto 2rem;
}

.faqList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.faqList details {
  border-top: 1px solid hsl(229, 8%, 60%);
  padding: 1rem 0;
}

.faqList details:first-child {
  border-top: none; 
}

