.hero {
  padding: 3rem 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;
}

.textSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textSection h2 {
  font-size: var(--responsive-h-size);
  font-weight: 700;
  text-align: center;
}

.textSection p {
  font-size: var(--responsive-p-size);
  line-height: 1.5;
  max-width: 45ch; 
  text-align: center;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.imageWrapper {
  position: relative;
  max-width: auto;
}

.imageWrapper img {
  width: 100%;
  margin: 0 auto;
}

.backgroundShape {
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translateX(-50%);
  width: 90%;
  height: 100vh;
  min-height: 80px;
  max-height: 180px;
  z-index: -1;
  background-color: var(--color-primary);
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}

@media (min-width: 1200px) {
  .hero {
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
  }

  .textContent {
    max-width: 600px;
    margin-left: 3rem;
  }

    h2 {
      width: 80%;
    }

    .buttons {
      justify-content: flex-start;
    }

    .imageWrapper img {
  width: 100%;
  max-width: auto;
  
}

.backgroundShape {
  top: 30%;
  width: 100%;
  min-height: 100px;
  max-height: 320px;
}



}
