.hero {
      padding: 3rem 1.5rem;
  text-align: center;
}

.textContent {
     max-width: 500px;
  margin: 0 auto 3rem;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
}

.imageWrapper {
    position: relative;
}

.imageWrapper img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.backgroundShape {
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translateX(-50%);
  width: 90%;
  height: 70vh;
  min-height: 100px;
  max-height: 250px;
  z-index: -1;
  background-color: var(--color-primary);
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}
