.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.textContent {
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
}

.btnPrimary,
.btnSecondary {
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-weight: 500;
    border: none;
}

.btnPrimary {
    background-color: hsl(231, 69%, 60%);
    color: white;
}

.btnSecondary {
    background-color: hsl(0, 0%, 97%);
    color: hsl(229, 31%, 21%);
}

.imageWrapper {
    position: relative;   
}

.imageWrapper img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.backgroundShape {
  display: flex;
  position: absolute;
  top: 43%;
  left: 20%;
  aspect-ratio: 2 / 1;
  width: 80%;
  max-height: 40vh;
  height: auto;
  z-index: -1;
  background-color: hsl(231, 69%, 60%);
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}