.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    
}

.textContent {
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
}

.imageWrapper {
    position: relative;
}

.imageWrapper img {

    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.backgroundShape {
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translateX(-50%);
  width: 80%;
  height: 70vh;
  min-height: 100px;
  max-height: 200px;
  z-index: -1;
  background-color: hsl(231, 69%, 60%);
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}
