
.tabButton {
  background: none;
  border: none;
  padding: 1rem;
  width: 20%;
  font-size: 1.25rem;
  color: var(--color-tab);
  border-bottom: 1px solid var(--color-tab);
  cursor: pointer;
}

.tabButton.active {
  border-bottom: 2px solid var(--color-secondary);
}
.tabButton:hover {
  color: var(--color-secondary);
}