.faqItem summary {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem 0;
  font-size: var(--p-size);
}

.faqItem p {
  margin: 0;
  padding: 0.5rem 0 1rem;
  color: var(--color-paragraph);
  font-size: var(--p-size);
}


