@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-base);
}

body {
  font-family: var(--font-base);
  color: var(--color-text);
  background-color: white;
  line-height: 1.5;
}


h1, h2, h3 {
  color: var(--color-text);
  font-weight: 600;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

p {
  font-size: var(--p-size);
  color: var(--color-paragraph);
}
