:root {
  --color-primary: hsl(231, 69%, 60%);
  --color-secondary: hsl(0, 94%, 66%);
  --color-text: hsl(229, 13%, 32%);
  --color-light: hsl(0, 0%, 100%);
  --color-tab: hsl(229, 8%, 50%);
  --color-footer-bg: rgb(41, 40, 72);
  --color-paragraph: hsl(240, 1%, 47%);
  --color-overlay-bg: hsla(231, 35%, 15%, 0.95);
  --social-hover-filter: invert(48%) sepia(83%) saturate(747%)
    hue-rotate(329deg) brightness(91%) contrast(90%);
  --color-btn-white: hsl(240, 18%, 90%);


  --box-shadow: 0 4px 12px rgba(2, 2, 2, 0.1);

  --font-base: ;
  --font-size-base: 16px;

  --h2-size: 2.9rem;
  --h3-size: 2.3rem;
  --p-size: 1.75rem;
  --link-size: 1.4rem;

  --responsive-h-size: clamp(2rem, 2.5vw, 3rem);
  --responsive-p-size: clamp(1.3rem, 2vw, 1.25rem);
}
