.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.desktopNav {
  display: none;
}

.hamburgerButton {
  background: none;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .desktopNav {
    display: flex;
    align-items: center;
  }

  .hamburgerButton {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 2rem 4rem;
  }

  .nav {
    flex-direction: row;      
    justify-content: flex-end; 
    align-items: center;
    gap: 2rem;
  }
 
}
