.footer {
  background-color: hsl(233, 26%, 24%);
  color: white;
  padding: 4rem 1.5rem;
}
.nav-footer ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navFooter a {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  transition: opacity 0.3s ease;
}

.link {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;;
}

.navFooter a:hover {
  opacity: 0.7;
}

.especialLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}