.footer {
  background-color: var(--color-footer-bg);
  color: var(--color-light);
  padding: 4rem 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
}
.nav-footer ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navFooter a {
  text-decoration: none;
  color: var(--color-light);
  font-weight: 500;
  transition: opacity 0.3s ease;
  font-size: var(--link-size);
}

.link {
    display: flex;
    flex-direction: column;
    color: var(--color-light);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.navFooter a:hover {
  opacity: 0.7;
  color: var(--color-secondary);
}

.social {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2em;
}

.social a:hover img {
  filter: var(--social-hover-filter);
  opacity: 0.7;
}