
.loginButton {
    background-color:  hsl(0, 92%, 53%);
    color: white;   
    padding: 0.7rem 1.6rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.loginButton:hover {
    background-color: white;
    color:hsl(0, 92%, 53%);
    border: 1px solid  hsl(0, 92%, 53%);
}