
.input-email {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 1rem;
}

&:focus {
    outline: none;
    border-color: hsl(231, 69%, 60%);
}

.input-email--error {
  border-color: hsl(0, 94%, 66%);
  background-color: hsl(0, 100%, 95%);
}