
.input-email {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 1rem;
}

&:focus {
    outline: none;
    border-color: var(--color-primary);
}

.input-email--error {
  border-color: var(--color-secondary);
  background-color: var(--color-light);
}