.overlay {
    position: fixed;      /* FONAMENTAL per tapar tota la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(229, 31%, 21%, 0.95);
    z-index: 999;         /* FONAMENTAL per quedar per sobre del Hero */
}

.header {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 1000;
}

.closeButton {
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
}

