
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; 
}

.nav {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.link {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}