.overlay {
  position: fixed;
  inset: 0;
  background: var(--color-overlay-bg);
  z-index: 999;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  z-index: 1000;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.logo img {
  height: 32px;
  display: flex;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  color: var(--color-light);
  text-decoration: none;
  font-size: var(--link-size);
  border-bottom: 1px solid var(--color-tab);
  padding: 1rem 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

.link:hover {
  color: var(--color-secondary);
}

.social {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 5em;
}

.social a:hover img {
  filter: var(--social-hover-filter);
  opacity: 0.7;
}


@media (min-width: 768px) {
  .nav {
    flex-direction: row;      
    justify-content: flex-end; 
    align-items: center;
    gap: 2rem;
  }
}

