
.tabContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.25rem;
  padding: 2rem 0;
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain; 
  z-index: 2;
  display: block;
}

.backgroundShape {
  position: absolute;
  bottom: -10%;            
  left: 33%;
  transform: translateX(-50%);
  width: 120%;
  height: 80%;             
  min-height: 100px;
  max-height: 250px;
  background-color: var(--color-primary);
  border-bottom-right-radius: 200px;
  border-top-right-radius: 200px;
  z-index: 1;
}

.textContent {
  max-width: 500px;
  margin-top: 2rem;
  padding: 0 1rem;
}

.textContent h2 {
   margin-top: 0.75rem; 
   margin-bottom: 1rem;
}

.textContent p { 
  margin-bottom: 1.25rem;
}

@media (min-width: 1200px) {
  .tabContent {
    flex-direction: row;       
    align-items: center;       
    text-align: left;         
    gap: 5rem;                
    justify-content: center;   
  }

  .imageWrapper {
    flex: 1;                  
    width: 100%;           
    max-width: 500px;       
    justify-content: flex-start; 

  }

  .imageWrapper img {
    width: 100%;             
    height: auto;
    max-width: 100%;
  }

  .textContent {
    flex: 1;                              
    padding: 0 2rem; 
    margin-left: 3rem;
              
  }

  .backgroundShape {           
    left: -20%;                
    width: 160%;            
    height: 100%;              
    max-height: 350px;        
    border-bottom-right-radius: 250px;
    border-top-right-radius: 250px;
  }
}
