.nav {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 1.5rem;
}

.link {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 500;
}

.link:hover {
  color: var(--color-secondary);
}

@media (min-width: var(--bp-tablet)) {
  .nav {
    flex-direction: row; 
    justify-content: flex-end;
    gap: 2rem;
  }
}

@media (min-width: var(--bp-desktop)) {
  .nav {
    gap: 3rem; 
  }
}
