.button {
  all: unset;           
  cursor: pointer;
  display: inline-flex;  
  align-items: center;
  justify-content: center;
  line-height: 1;
  border : none;
}

.button img {
  display: block;      
  height: 24px;
}
