.section {
  padding: 3rem 1.5rem;
  text-align: center;
}

.textBlock {
  max-width: 500px;
  margin: 0 auto 3rem;
}

.textBlock p {
  color: var(--color-text);
  margin-top: 1rem;
  font-size: var(--p-size);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media (min-width: 768px) {
  .cards {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }

  .cards > *:nth-child(1) {
    margin-top: 0;
  }
  .cards > *:nth-child(2) {
    margin-top: 2rem;
  }
  .cards > *:nth-child(3) {
    margin-top: 4rem;
  }
}

@media (min-width: 1200px) {
  .section {
    padding: 5rem 8rem;
  }

  .textBlock {
    max-width: 600px;
    margin: 0 auto 4rem auto;
  }
  .cards > *:nth-child(1) {
    margin-top: 1rem;
  }
  .cards > *:nth-child(2) {
    margin-top: 6rem;
  }
  .cards > *:nth-child(3) {
    margin-top: 9rem;
  }
}
