.section {
  padding: 3rem 1.5rem;
  text-align: center;
}

.textBlock {
  max-width: 500px;
  margin: 0 auto 3rem;
}

.textBlock p {
  color: var(--color-text);
  margin-top: 1rem;
  font-size: var(--p-size);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
