.features {
  padding: 3rem 1.5rem;
  text-align: center;
  gap: 2rem;
}

.headerText {
  max-width: 500px;
  margin: 0 auto 3rem;
}

@media (min-width: 1200px) {
  .features {    
    margin: 0 auto;
  }

  .tabs {
    display: flex;
    justify-content: center;
  }

  .tabPanel {
    margin-top: 1rem;
  }

  .headerText {
    max-width: 600px;
    margin: 0 auto 3rem auto;
    text-align: center;
  }
}
